{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}邀请人列表{% endblock %}
{% block admin_title %}邀请人列表{% endblock %}
{% block admin_title_m %}邀请人列表{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Invite = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Invites = Backbone.Collection.extend({
        model: Invite,

        _modelMaps: {
            'num': 'num',
            'id': 'id',
            'userId': 'user_id',
            'userName': 'user_name',
            'userAvatar': 'user_avatar',
            'toUserId': 'to_user_id',
            'toUserName': 'to_user_name',
            'toUserAvatar': 'to_user_avatar',
            'toUserDes': 'to_user_des',
            'createTime': 'create_time'
        },

        search: function(name, pageIndex){
            var me = this,
                name = name||'',
                pageIndex = pageIndex||1;

            ajaxSend(
                "/admin/invite/search", 
                {'name': name, 'page_index': pageIndex}, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#obj_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#obj_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();
            
            this.showPanel();

            this.$('tbody').html(this.template({'objs': data}));

            this.pagination.render(
                this.collection.pageIndex,
                this.collection.pageCount,
                'search/' + this.collection.name
            );

            this.$('.name').val(this.collection.name);
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#obj_list"]').tab('show');
        },

        search: function(){
            var name = this.$('.name').val();

            router.navigate(String.format('/search/{0}/1', name), {trigger: true});
        }
        
    });


    var Router = Backbone.Router.extend({

        routes: {
            "":                              "search",
            "search/(:name)/:pageIndex":     "search",
        },

        // 查询
        search: function(name, pageIndex){
            invites.search(name, pageIndex);
        }

        
    });

    var invites = new Invites(),
        listView = new ListView({'collection': invites}),
        router = new Router();
 
    Backbone.history.start();

 });
</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#obj_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">认证列表</span>
        </a>
    </li>
    
</ul>

<div class="tab-content">

    <div class="tab-pane fade pt-15 in active" id="obj_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>头像</th>
                    <th>用户名</th>
                    <th>邀请人头像</th>
                    <th>邀请人</th>
                    <th>邀请备注</th>
                    <th>创建时间</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <div class="tab-pane fade pt-15" id="modify_obj">
        
    </div>
</div>

<!-- 列表 -->
<script type="text/template" id="obj_template">
    <% _.each(objs, function(obj){ %>
        <tr class="" data-obj_id="<%= obj.id %>">
            <td><%= obj.num %></td>
            <td>
                <img class="w35" src="<%= obj.userAvatar %>">
            </td>
            <td><%= obj.userName %></td>
            <td>
                <img class="w35" src="<%= obj.toUserAvatar %>">
            </td>
            <td><%= obj.toUserName %></td>
            <td><%= obj.toUserDes %></td>
            <td class="hidden-xs"><%= obj.createTime %></td>
        </tr>
    <% }) %>
</script>

{% endblock %}