{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}类别开放信息{% endblock %}
{% block admin_title %}类别开放信息{% endblock %}
{% block admin_title_m %}类别开放信息{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Info = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Infos = Backbone.Collection.extend({
        model: Info,

        _modelMaps: {
            'num': 'num',
            'id': 'id',
            'kindName': 'kind_name',
            'cityName': 'city_name',
            'openTime': 'open_time'
        },

        search: function(name, city, pageIndex){
            var me = this,
                name = name||'',
                city = city||'',
                pageIndex = pageIndex||1;

            ajaxSend(
                "/admin/kind_open_info/search", 
                {'name': name, 'city': city, 'page_index': pageIndex}, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;
                    me.city = city;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(objId, callback){
            var me = this;

            ajaxSend(
                "/admin/kind_open_info/get_info_by_id", 
                {'info_id': objId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        
        removeObj: function(objId, callback){

            ajaxSend(
                "/admin/kind_open_info/remove_info",
                {'info_id': objId},
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        addObj: function(data, callback){

            ajaxSend(
                "/admin/kind_open_info/add_info", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#obj_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#obj_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'removeObj'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'objs': data}));

            this.pagination.render(
                this.collection.pageIndex,
                this.collection.pageCount,
                'search/' + this.collection.name + '/' + this.collection.city
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#obj_list"]').tab('show');
        },

        search: function(){
            var name = this.$('.name').val(),
                city = this.$('.city').val();

            router.navigate(String.format('/search/{0}/{1}/1', name, city), {trigger: true});
        },

        removeObj: function(sender){
            var target = $(sender.currentTarget),
                objId = target.data('obj_id');

            if(!confirm("确认要删除？")){
                return;
            }

            g_ajax_processing_obj_id = target.setUUID().attr('id');
            infos.removeObj(objId, function(data){
                if(data.errcode == "0"){
                    router.navigate('/search///1', {'trigger': true});
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            });

        }
    });


    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_obj_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        kindTextBox: null,
        initKindTextBox: function(name, value){
            var me = this;

            this.kindTextBox = $.Global.TextboxList.create('#kind_add', {
                max: 1,
                placeholder: '选择所属类别',
                url: '/admin/kind/get_kinds_by_name',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.kindTextBox.add(name, value);
            }
        },

        cityTextBox: null,
        initCityTextBox: function(name, value){
            var me = this;

            this.cityTextBox = $.Global.TextboxList.create('#city_add', {
                max: 1,
                placeholder: '选择所属城市',
                url: '/admin/city/get_citys_by_name',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.cityTextBox.add(name, value);
            }
            
        },

        initDate: function(){
            $('#open_time_add').datetimepicker({
                format: 'yyyy-mm-dd',
                language: 'zh-CN',
                minView: 2,
                autoclose: true
            });
        },

        render: function(){
            var me = this;

            $('#add_obj_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_obj_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_obj_modal .ok').bind('click', function(){
                me.addObj();
            });
            
            $('#add_obj_modal').modal({'show': true, 'backdrop': 'static'});
            this.initKindTextBox();
            this.initCityTextBox();
            this.initDate();
        },

        addObj: function(){
            var me = this;
            
            if(!$('#add_obj_modal form').valid()){
                return;
            }

            g_ajax_processing_obj_id = $("#add_obj_modal .ok").setUUID().attr('id');
            infos.addObj($.Global.Utils.formToDict($('#add_obj_modal form')), function(data){
                if(data.errcode == "0"){
                    router.navigate('/search///1', {'trigger': true});
                    $('#add_obj_modal').modal('hide');
                    $.Global.Notice.SuccessTopNotice("操作成功");
                } else {
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            })

        }

    });

    var Router = Backbone.Router.extend({

        routes: {
            "":                                     "search",
            "modify/:objId":                        "modify",
            "search/(:name)/(:city)/:pageIndex":    "search",
            "add":                                  "add"
        },

        // 查询
        search: function(name, city, pageIndex){
            infos.search(name, city, pageIndex);
        },

        // 显示修改界面
        modify: function(objId){
            modifyView.modifyObj(objId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var infos = new Infos(),
        listView = new ListView({'collection': infos}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

 });
</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#obj_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">类别开放信息列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_obj" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改类别开放信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加类别开放信息</span>
        </a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade pt-15 in active" id="obj_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">类别名称</span>
                <input type="text" class="form-control name" placeholder="" />
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">城市名称</span>
                <input type="text" class="form-control city" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>类别</th>
                    <th>城市</th>
                    <th>开放时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>
</div>

<!-- 列表 -->
<script type="text/template" id="obj_template">
    <% _.each(objs, function(obj){ %>
        <tr>
            <td><%= obj.num %></td>
            <td><%= obj.kindName %></td>
            <td><%= obj.cityName %></td>
            <td><%= obj.openTime %></td>
            <td class="pointer" data-obj_id="<%= obj.id %>"><span class="fa fa-times co-C33333"></span></td>
        </tr>
    <% }) %>
</script>

<!-- 添加 -->
<script type="text/template" id="add_obj_template">
<div class="modal fade" id="add_obj_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加类别开放信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">类别</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="kind_add" required name="kind" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">城市</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="city_add" required name="city" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-3 control-label">开放时间</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="open_time_add" required name="open_time" value='{{today}}'>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}