{% extends "pc/admin/home.html" %}
{% load custom_tags %}
{% load custom_filters %}
{% block title %}产品管理{% endblock %}
{% block admin_title %}产品管理{% endblock %}
{% block admin_title_m %}产品管理{% endblock %}

{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    // models
    var Product = Backbone.Model.extend({

        // 默认值
        defaults: {
            'num': ''
        }

    });

    // collections
    var Products = Backbone.Collection.extend({
        model: Product,

        _modelMaps: {
            'num': 'num',
            'id': 'id',
            'name': 'name',
            'serviceId': 'service_id',
            'serviceName': 'service_name',
            'cover': 'cover',
            'summary': 'summary',
            'des': 'des',
            'price': 'price',
            'params': 'params',
            'state': 'state',
            'sort': 'sort',
            'createTime': 'create_time'
        },

        search: function(name, state, pageIndex){
            var me = this,
                name = name||'',
                state = state||'1',
                pageIndex = pageIndex||1;

            ajaxSend(
                "/admin/product/search", 
                {'name': name, 'state': state, 'page_index': pageIndex}, 
                function(data){
                    me.pageIndex = pageIndex;
                    me.pageCount = data.page_count;
                    me.name = name;
                    me.state = state;

                    me.reset($.Global.Utils.dictMapParse(data.data, me._modelMaps));
                }
            );
        },

        getOne: function(objId, callback){
            var me = this;

            ajaxSend(
                "/admin/product/get_product_by_id", 
                {'product_id': objId},
                function(data){
                    if(callback){
                        callback($.Global.Utils.dictMap(data, me._modelMaps));
                    }
                }
            );
        },

        //
        modifyObj: function(data, callback){

            ajaxSend(
                "/admin/product/modify_product", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        },

        addObj: function(data, callback){

            ajaxSend(
                "/admin/product/add_product", 
                data,
                function(response){
                    if(callback){
                        callback(response);
                    }
                }
            );
        }

    });

    // listView
    var ListView = Backbone.View.extend({
        el: '#obj_list',

        pagination: new $.Global.Pagination.PaginationView(),

        template: _.template($('#obj_template').html()),

        initialize: function(){
            this.listenTo(this.collection, 'reset', this.render);
        },

        events: {
            'click .search': 'search',
            'click .pointer': 'modifyObj'
        },

        // 渲染函数
        render: function(){
            var data = this.collection.toJSON();

            this.showPanel();

            this.$('tbody').html(this.template({'objs': data}));

            this.pagination.render(
                this.collection.pageIndex,
                this.collection.pageCount,
                'search/' + this.collection.name + '/' + this.collection.state
            );
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#obj_list"]').tab('show');
        },

        search: function(){
            var name = this.$('.name').val(),
                state = this.$('.state').val();

            router.navigate(String.format('/search/{0}/{1}/1', name, state), {trigger: true});
        },

        modifyObj: function(sender){
            var target = $(sender.currentTarget),
                objId = target.data('obj_id');

            router.navigate('/modify/' + objId, {trigger: true});
        }
    });

    // modifyView
    var ModifyView = Backbone.View.extend({
        
        el: '#modify_obj',

        template: _.template($('#modify_obj_template').html()),

        events: {
            'click .save': 'save'
        },

        // 显示面板
        showPanel: function(){
            $('.orange-nav-pills a[href="#modify_obj"]').tab('show');
        },

        serviceTextBox: null,
        initServiceTextBox: function(name, value){
            var me = this;

            this.serviceTextBox = $.Global.TextboxList.create('#service_modify', {
                max: 1,
                placeholder: '选择所属类别',
                url: '/admin/service/get_services_by_name',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.serviceTextBox.add(name, value);
            }
        },

        // 渲染
        render: function(data){
            this.$el.html(this.template(data));
            this.initServiceTextBox(data.serviceName, data.serviceId);
            createEditor('#des_modify');
        },

        // 显示提问信息
        modifyObj: function(objId){
            var me = this;

            this.collection.getOne(objId, function(data){
                if(data){
                    me.render(data);
                    me.showPanel();
                } else {
                    setTimeout(function(){history.go(-1);}, 3000);
                    $.Global.Notice.ErrorTopNotice("没有找到对应的类别!");
                }
            });
        },

        // 保存
        save: function(sender){
            // var objId = this.$('form').data('obj_id'),
            //     target = $(sender.currentTarget),
            //     me = this;

            // g_ajax_processing_obj_id = target.setUUID().attr('id');
            // me.collection.modifyObj($.Global.Utils.formToDict(this.$('form')), function(data){
            //     if(data.errcode == "0"){
            //         $.Global.Notice.SuccessTopNotice('操作成功!');
            //         router.navigate('modify/' + objId, {'trigger': true});
            //     } else {
            //         $.Global.Notice.ErrorTopNotice(data.errmsg);
            //     }
            // });

            if(!this.$('form').valid()){
                return;
            }
            
            this.$('form').submit();
            
        }

    });

    var AddView = Backbone.View.extend({
        el: 'body',

        template: _.template($('#add_obj_template').html()),

        showPanel: function(){
            var me = this;

            me.render();
        },

        serviceTextBox: null,
        initServiceTextBox: function(name, value){
            var me = this;

            this.serviceTextBox = $.Global.TextboxList.create('#service_add', {
                max: 1,
                placeholder: '选择所属类别',
                url: '/admin/service/get_services_by_name',
                param: 'name',
                loadPlaceholder: '正在加载...'
            });

            if(value){
                this.serviceTextBox.add(name, value);
            }
        },

        render: function(){
            var me = this;

            $('#add_obj_modal').remove();
            
            $('body').append(this.template());

            // 绑定事件
            $('#add_obj_modal .cancel').bind('click', function(){
                history.go(-1);
            });
            $('#add_obj_modal .ok').bind('click', function(){
                me.addObj();
            });
            
            $('#add_obj_modal').modal({'show': true, 'backdrop': 'static'});

            me.initServiceTextBox();
            createEditor('#des_add');
        },

        addObj: function(){
            // var me = this;
            
            // if(!$('#add_obj_modal form').valid()){
            //     return;
            // }

            // g_ajax_processing_obj_id = $("#add_obj_modal .ok").setUUID().attr('id');
            // kinds.addObj($.Global.Utils.formToDict($('#add_obj_modal form')), function(data){
            //     if(data.errcode == "0"){
            //         router.navigate('modify/' + data.errmsg, {trigger: true});
            //         $('#add_obj_modal').modal('hide');
            //         $.Global.Notice.SuccessTopNotice("操作成功");
            //     } else {
            //         $.Global.Notice.ErrorTopNotice(data.errmsg);
            //     }
            // });

            if(!$('#add_obj_modal form').valid()){
                return;
            }

            $('#add_obj_modal form').submit();

        }

    });

    var Router = Backbone.Router.extend({

        routes: {
            "":                                     "search",
            "modify/:objId":                        "modify",
            "search/(:name)/(:state)/:pageIndex":   "search",
            "add":                                  "add"
        },

        // 查询
        search: function(name, state, pageIndex){
            products.search(name, state, pageIndex);
        },

        // 显示修改界面
        modify: function(objId){
            modifyView.modifyObj(objId);
        },

        add: function(){
            addView.showPanel();
        }

    });

    var products = new Products(),
        listView = new ListView({'collection': products}),
        modifyView = new ModifyView({'collection': products}),
        addView = new AddView(),
        router = new Router();
 
    Backbone.history.start();

 });
</script>
{% endblock %}

{% block admin_main %}
<ul class="nav nav-pills orange-nav-pills">
    <li class="active">
        <a href="#obj_list" data-toggle="pill">
            <i class="fa fa-list-ol pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">列表</span>
            <span class="hidden-xs">产品列表</span>
        </a>
    </li>
    <li>
        <a href="#modify_obj" data-toggle="pill">
            <i class="fa fa-pencil-square-o pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">修改</span>
            <span class="hidden-xs">修改产品信息</span>
        </a>
    </li>
    <li class="pull-right">
        <a href="#add">
            <i class="fa fa-plus-circle pr-5"></i>
            <span class="hidden-sm hidden-md hidden-lg">添加</span>
            <span class="hidden-xs">添加产品</span>
        </a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade pt-15 in active" id="obj_list">
        <form action="." class="form-inline" onsubmit="javascript: return false;">
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">状态</span>
                <select class="form-control state">
                    {% for state in all_states %}
                    <option value="{{state.value}}" {% if state.value == 1 %}selected{% endif %} >{{state.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group input-group-sm pb-10">
                <span class="input-group-addon">产品名称</span>
                <input type="text" class="form-control name" placeholder="" />
                <span class="input-group-btn">
                    <button class="btn btn-default search bgc-eeeeee" type="submit">查询</button>
                </span>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>封面</th>
                    <th>名称</th>
                    <th>所属服务商</th>
                    <th>价格</th>
                    <th class="hidden-xs">排序</th>
                    <th class="hidden-xs">创建时间</th>
                    <th class="hidden-xs">状态</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <div class="text-center">
            <ul class="pagination pagination-sm qx-pagination">
                
            </ul>
        </div>
    </div>

    <div class="tab-pane fade pt-15" id="modify_obj">
        
    </div>
</div>

<!-- 列表 -->
<script type="text/template" id="obj_template">
    <% _.each(objs, function(obj){ %>
        <tr class="pointer" data-obj_id="<%= obj.id %>">
            <td><%= obj.num %></td>
            <td><img class="w35" src="<%= obj.cover %>" ></td>
            <td><%= obj.name %></td>
            <td><%= obj.serviceName %></td>
            <td><%= obj.price %></td>
            <td class="hidden-xs"><%= obj.sort %></td>
            <td class="hidden-xs"><%= obj.createTime %></td>
            <td>
                <% if(obj.state){ %>
                    <span class="fa fa-check co-3B99FC"></span>
                <% } else { %>
                    <span class="fa fa-times co-C33333"></span>
                <% } %>
            </td>
        </tr>
    <% }) %>
</script>

<!-- 修改 -->
<script type="text/template" id="modify_obj_template">
    <form class="form-horizontal" data-obj_id="<%= id %>" role="form" method="post" action="/admin/product/modify_product" enctype="multipart/form-data">
        <input type="hidden" name="obj_id" value="<%= id %>" />
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">封面</label>
            <div class="col-sm-4 mb-5">
                <img class="mb-10 w100p" src="<%= cover %>" />
                <input name="cover" class="pb-10" type="file" />图片格式为png，尺寸为 124(宽) X 124(长)
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">名称</label>
            <div class="col-sm-3 mb-5">
                <input type="text" class="form-control" required name="name" value='<%= name %>'>
            </div>
            <label class="col-sm-2 control-label">价格</label>
            <div class="col-sm-3">
                <input type="text" class="form-control number" required name="price" value='<%= price %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">排序</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" required name="sort" value='<%= sort %>'>
            </div>
            <label class="col-sm-2 control-label">所属服务商</label>
            <div class="col-sm-3 mb-5">
                <input type="text" class="form-control" required id="service_modify" name="service" value=''>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-3 mb-5">
                <label class="radio-inline">
                    <input type="radio" name="state" value="0" <% if(state == 0){ %>checked<% } %> > 无效
                </label>
                <label class="radio-inline">
                    <input type="radio" name="state" value="1" <% if(state == 1){ %>checked<% } %> > 有效
                </label>
            </div>
            <label class="col-sm-2 control-label">创建日期</label>
            <div class="col-sm-3">
                <p class="form-control-static"><%= createTime %></p>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">额外参数</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" name="params" value='<%= params %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">摘要信息</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" required name="summary" value='<%= summary %>'>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <label class="col-sm-2 control-label">简介</label>
            <div class="col-sm-8">
                <textarea name="des" rows="6" id="des_modify" class="form-control" placeholder=""><%= des %></textarea>
            </div>
        </div>
        <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary save">提交你的修改</button>
            </div>
        </div>
    </form>
</script>

<!-- 添加 -->
<script type="text/template" id="add_obj_template">
<div class="modal fade" id="add_obj_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header pb-5">
                <h4 class="modal-title">添加类别</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" method="post" action="/admin/product/add_product" enctype="multipart/form-data">
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">封面</label>
                        <div class="col-sm-8 mb-5">
                            <input name="cover" class="pb-10" type="file" />图片格式为png，尺寸为 124(宽) X 124(长)
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">名称</label>
                        <div class="col-sm-3 mb-5">
                            <input type="text" class="form-control" required name="name" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">价格</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control number" required name="price" value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4 hide">
                        <label class="col-sm-3 control-label">排序</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="sort" value='0'>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">所属服务商</label>
                        <div class="col-sm-4 mb-5">
                            <input type="text" class="form-control" required id="service_add" name="service" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4 hide">
                        <label class="col-sm-3 control-label">状态</label>
                        <div class="col-sm-3 mb-5">
                            <label class="radio-inline">
                                <input type="radio" name="state" value="0"> 无效
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="state" value="1" checked="checked"> 有效
                            </label>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4 hide">
                        <label class="col-sm-3 control-label">额外参数</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="params" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0 border-bottom-1 bdc-e4e4e4">
                        <label class="col-sm-3 control-label">摘要信息</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" required name="summary" value=''>
                        </div>
                    </div>
                    <div class="form-group pt-20 pb-20 mb-0">
                        <label class="col-sm-3 control-label">简介</label>
                        <div class="col-sm-8">
                            <textarea name="des" rows="6" id="des_add" class="form-control" placeholder=""></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary ok">确定</button>
            </div>
        </div>
    </div>
</div>
</script>
{% endblock %}