{% extends "mobile/base_home.html" %}
{% block title %}我赞过的{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/account/my_zan.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block back_url %}/account/profile{% endblock %}

{% block container %}
<div class="row ml-0 mr-0 pt-15">
    <div class="col-xs-12 pl-20 pr-20">
        {% if not zans %}
         <div class="co-95989d">暂无</div>
        {% else %}
        <ul class="list-group col-xs-12 pr-0 pl-0">
            {% for zan in zans %}
            <a href="{{zan.service.get_url}}">
                <li class="list-group-item col-xs-12 pr-0 pl-0">
                    <div class="col-xs-12 service">
                        <span class="bg-curtain bg-curtain-{{zan.service.kind.kind_type}}"></span>
                        <img class="avatar" src="{{zan.service.logo}}">
                        <div class="col-xs-12 f17 pr-5 pt-10">
                            <span>{{zan.service.name}}</span>
                            <span class="f12 pull-right co-b6b6b6">{{zan.service.zan_count}}人赞过</span>
                        </div>
                        <div class="col-xs-12 f12 co-b6b6b6 pt-3 pr-5 pb-15">
                            <span class="tag">{{zan.service.kind.name}}</span>
                        </div>
                    </div>
            </li>
            </a>
            {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}