{% extends "mobile/base_home.html" %}
{% block title %}{{service.name}}{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/service_detail.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countUp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var getIndex = function(){
        var index = 0;

        $.map($('.tab'), function(per, i){
            if($(per).hasClass('active')){
                index = i;
                return;
            }
        });
        return index;
    };
    // tab 切换
    $('.tab').on('click', function(){
        $('.tab').removeClass('active');
        $(this).addClass('active');

        var index = getIndex();
        $('.tab-content').removeClass('active');
        $('.tab-content').eq(index).addClass('active');
    });

    new countUp("heart-count", 0, {{service.zan_count}}, 0, 1).start();

});
</script>
{% endblock %}
{% block back_url %}/kind/{{service.kind_id}}{% endblock %}
{% block container %}
<div class="row ml-0 mr-0">
    <div class="col-xs-12 pl-0 pr-0 pr">
        <div id="carousel-service" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-service" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-service" data-slide-to="1" class=""></li>
                <li data-target="#carousel-service" data-slide-to="2" class=""></li>
                <li data-target="#carousel-service" data-slide-to="3" class=""></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-1.jpg">
                </div>
                <div class="item">
                    <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-2.jpg">
                </div>
                <div class="item">
                    <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-1.jpg">
                </div>
                <div class="item">
                    <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-2.jpg">
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-service" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-service" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <!-- <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-1.jpg"> -->
    </div>
    <div class="col-xs-12 pl-0 pr-0 pt-20">
        <div class="col-xs-9">
            <div class="col-xs-12 f17 pl-10 pr-0">{{service.name}}</div>
            
            <div class="col-xs-12 pl-10 pr-0 pt-5">
                <!-- <span class="co-ea232a f15">200元<span class="co-ea232a f12"> / 位</span></span> -->
                <span class="co-95989d f12">已预定：{{service.order_count}}次</span>
            </div>
            
        </div>
        <div class="col-xs-3 pr h50">
            <span class="heart-bg text-center">
                <span class="fa fa-heart heart"></span>
                <span class="pt-5 f12 pt-10 display-inline co-f07925 w30" id="heart-count">0</span>
            </span>
        </div>
    </div>
    <div class="col-xs-12 f12 pl-20 pr-20 co-dddddd pt-15">
        <div class="col-xs-12 pl-5 pr-5 border-bottom-1 bdc-eeeeee pb-5">
            入驻时间：{{service.join_time|date:'Y-m-d'}}
        </div>
    </div>
    <div class="col-xs-12 pl-20 pr-20 pt-15 pb-10">
        <div class="col-xs-4 col-xs-offset-2 text-center pr-0 pl-0">
            <span class="tab active">产品</span>
        </div>
        <div class="col-xs-4 text-center pr-0 pl-0">
            <span class="tab">简介</span>
        </div>
        <ul class="list-group col-xs-12 pr-0 pt-15 tab-content active">
            {% for product in products %}
            <li class="list-group-item col-xs-12 pl-0 pr-0">
                <div class="col-xs-9 pr-0 pl-20 pr">
                    <i class="fa fa-bookmark-o"></i>
                    <div class="col-xs-12 co-95989d f14 pr-0 pl-0">{{product.name}}</div>
                    <div class="col-xs-12 co-f07925 f12 pr-0 pl-0 pt-5"><i class="fa fa-rmb pr-3"></i>{{product.price}}元</div>
                </div>
                <div class="col-xs-3 pl-0 pr-0 f12 pt-8 text-right">
                    <a href="{{product.get_url}}" class="buy">详情</a>
                </div>
            </li>
            {% endfor %}
        </ul>

        <div class="col-xs-12 tab-content pl-0 pr-0 f13">
            {% if recommend_user_info %}
            <div class="col-xs-12 pl-0 pr-0">特别推荐:</div>
            <div class="col-xs-12 pl-50 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <img class="avatar" src="{{recommend_user_info.avatar}}">
                <div class="col-xs-12 f14 co-f07925 pr-0">{{recommend_user_info.name}}
                &nbsp;&nbsp;{{recommend_user_info.company_name}}{{recommend_user_info.title}}</div>
                <div class="col-xs-12 f12 co-95989d pr-0 pt-5">{{service.recommend_des}}</div>
            </div>
            {% endif %}
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-map-marker flag" style="left: 8px;"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">{{service.addr}}</div>
            </div>
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-phone flag" style="left: 6px;"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">{{service.get_tel}}</div>
            </div>
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-truck flag"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">{{service.service_area}}</div>
            </div>
            <div class="col-xs-12 pt-15 pl-0 pr-0">
                <div class="col-xs-12 f15 pl-0 pr-0">简介:</div>
                <div class="col-xs-12 f12 co-95989d pr-0 pl-0 pt-10 pb-50" style="letter-spacing: 0.5px;line-height: 19px;">
                    {{service.des}}
                </div>
            </div>

            <div class="booking">
                <button class="btn-booking" value="">立即预定</button>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}