{% extends "mobile/base_home.html" %}
{% block title %}服务商列表{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/service_list.css?v={{MEDIA_VERSION}}">
<style type="text/css">
{% if kind.kind_type == 0 %}
body{
    background: linear-gradient(to right, #f68e57, #f9b757);
}
.bg-curtain{
    background-color: #fdd464;
}
{% elif kind.kind_type == 1 %}
body{
    background: linear-gradient(to right, #ff589c, #ff58c9);
}
.bg-curtain{
    background-color: #ff77d7;
}
{% elif kind.kind_type == 2 %}
body{
    background: linear-gradient(to right, #35d9ae, #29eaa1);
}
.bg-curtain{
    background-color: #50f0c3;
}
{% elif kind.kind_type == 3 %}
body{
    background: linear-gradient(to right, #52a7fe, #4cb8fe);
}
.bg-curtain{
    background-color: #80cbff;
}
{% elif kind.kind_type == 4 %}
body{
    background: linear-gradient(to right, #05b5e1, #2ad2e8);
}
.bg-curtain{
    background-color: #43d9f2;
}
{% elif kind.kind_type == 5 %}
body{
    background: linear-gradient(to right, #a883fa, #bd90fa);
}
.bg-curtain{
    background-color: #bfa0ff;
}
{% endif %}
</style>
{% endblock %}
{% block back_url %}/{% endblock %}
{% block container %}
<div class="row ml-0 mr-0">
    <div class="col-xs-12 co-ffffff pt-35 pb-20 pr">
        <i class="fa fa-quote-left"></i>
        <div class="col-xs-12 pl-20 f13 letter-spacing-1">定制化下午茶服务，时令水果和精美点心的搭配，让茶水间包别不健康食品，提升员工幸福感。</div>
        <div class="col-xs-12 text-right f13 pt-8">——小橙企服{{service.kind.kind_type}}</div>
    </div>

    <ul class="list-group col-xs-12 pl-20 pr-20">

        {% for service in services %}
        <a href="/service/{{service.id}}" class="list-group-item col-xs-12 pr-0 pl-0 over-flow-hide mb-15 animated fadeInUp" style="animation-delay: {{ service.delays }}s;-webkit-animation-delay: {{  service.delays }}s;">
            <div class="col-xs-12 pl-70 pr-10 pt-3 pb-3 pr h67">
                <span class="bg-curtain"></span>
                <img class="avatar" src="{{service.logo}}">
                <div class="col-xs-12 f17 pr-5">{{service.name}}</div>
                <div class="col-xs-12 f12 co-b6b6b6 pt-3 pr-5">{{service.summary}}</div>
            </div>
        </a>
        {% endfor %}

        {% if show_comingsoon %}
        <li class="list-group-item col-xs-12 pr-0 pl-0 over-flow-hide mb-15 animated fadeInUp" style="animation-delay: {{ last_delay }}s;-webkit-animation-delay: {{ last_delay }}s;">
            <div class="col-xs-12 text-center co-95989d h67 pt-5 pr">
                <span>Coming Soon</span>
                <i class="fa fa-plug"></i>
            </div>
        </li>
        {% endif %}
    </ul>

</div>
{% endblock %}

{% block nav %}{% endblock %}