{% extends "mobile/base_home.html" %}
{% block title %}{{service.name}}{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/service_detail.css?v={{MEDIA_VERSION}}">
<style type="text/css">
.modal-content{
    border-radius: 3px;
    margin-top: 50px;
}
.modal-body{
    padding-bottom: 0;
}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/countUp.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var getIndex = function(){
        var index = 0;

        $.map($('.tab'), function(per, i){
            if($(per).hasClass('active')){
                index = i;
                return;
            }
        });
        return index;
    };
    // tab 切换
    $('.tab').on('click', function(){
        $('.tab').removeClass('active');
        $(this).addClass('active');

        var index = getIndex();
        $('.tab-content').removeClass('active');
        $('.tab-content').eq(index).addClass('active');
    });

    // 点赞
    $('.heart-bg').on('click', function(){
        var me = $(this), url = "add_zan";
        if(me.hasClass('active')){
            url = 'cancel_zan';
        }
        
        ajaxSend(
            "/service/" + url, 
            {'service_id': '{{service.id}}'},
            function(response){
                if(response.errcode == "0"){
                    me.toggleClass('active');
                    $('#heart-count').text(response.errmsg);
                }
                else{
                    $.Global.Notice.InfoTopNotice(response.errmsg);
                }
            }
        );
    });

    // 预约
    var is_verify = "{{is_verify}}",
        htmlStr = [
        '<div class="modal fade verify-modal">',
            '<div class="modal-dialog">',
                '<div class="modal-content">',
                    '<div class="modal-header">',
                        '<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>',
                        '<h4 class="modal-title">申请认证</h4>',
                    '</div>',
                    '<div class="modal-body row">',
                        '<form>',
                            '<ul class="list-group col-xs-10 col-xs-offset-1 pl-15 pr-15 pt-0">',
                                '<li class="list-group-item col-xs-12 pl-0 pr-0">',
                                    '<div class="col-xs-12 pl-15 pr-0 co-95989d f12 lable-text">姓名</div>',
                                    '<div class="col-xs-12 pl-10 pr-0 z-99">',
                                        '<input type="text" name="name" required maxlength="10" class="text-input" value="">',
                                    '</div>',
                                    '<img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-5.png">',
                                '</li>',
                                '<li class="list-group-item col-xs-12 pl-0 pr-0">',
                                    '<div class="col-xs-12 pl-15 pr-0 co-95989d f12 lable-text">手机号码</div>',
                                    '<div class="col-xs-12 pl-10 pr-0 z-99">',
                                        '<input type="text" name="mobile" required maxlength="11" minlength="11" class="text-input digits" value="{{info.mobile}}">',
                                    '</div>',
                                    '<img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-6.png">',
                                '</li>',
                                '<li class="list-group-item col-xs-12 pl-0 pr-0">',
                                    '<div class="col-xs-12 pl-15 pr-0 co-95989d f12 lable-text">公司职位</div>',
                                    '<div class="col-xs-12 pl-10 pr-0 z-99">',
                                        '<input type="text" name="title" required maxlength="12" class="text-input" value="">',
                                    '</div>',
                                    '<img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-7.png">',
                                '</li>',
                                '<li class="list-group-item col-xs-12 pl-0 pr-0">',
                                    '<div class="col-xs-12 pl-15 pr-0 co-95989d f12 lable-text">公司名称</div>',
                                    '<div class="col-xs-12 pl-10 pr-0 z-99">',
                                        '<input type="text" name="company" required maxlength="20" class="text-input" value="">',
                                    '</div>',
                                    '<img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-8.png">',
                                '</li>',
                                '<li class="list-group-item col-xs-10 col-xs-offset-1 pl-0 pr-0 pt-20">',
                                    '<a class="btn btn-default btn-block btn-verify" href="#">提交审核</a>',
                                '</li>',
                            '</ul>',
                        '</form>',
                    '</div>',
                '</div>',
            '</div>',
        '</div>'
    ].join(''),
    booking = function(){
        ajaxSend(
            "/service/create_order", 
            {'service_id': '{{service.id}}'},
            function(data){
                if(data.errcode == "0"){
                    $.Global.Notice.SuccessTopNotice('预约成功！');
                }
                else{
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            }
        );
    };

    // 预约
    $('.booking').on('click', function(){
        if(is_verify == '0'){
            $('.verify-modal').remove();
            $('body').append(htmlStr);
            $('.verify-modal').modal({'show': true});
        }
        else{
            booking();
        }
    });

    // 提交验证
    $('.btn-verify')
    .live('click', function(){
        if(!$('.verify-modal form').valid()){
            return false;
        }

        ajaxSend(
            "/account/verify_user", 
            $.Global.Utils.formToDict($('.verify-modal form')),
            function(data){
                if(data.errcode == "0"){
                    $('.verify-modal').modal('hide');
                    booking();
                }
                else{
                    $.Global.Notice.ErrorTopNotice(data.errmsg);
                }
            }
        );

    });

    // 控制lable
    $('.text-input')
    .live('focus', function(){
        if($(this).val() == ""){
            $(this).parent().prev().addClass('focus');
        }
    })
    .live('blur', function(){
        if($(this).val() == ""){
            $(this).parent().prev().removeClass('focus');
        }
    });

    new countUp("heart-count", 0, {{service.zan_count}}, 0, 1).start();

});
</script>
{% endblock %}
{% block back_url %}
{% if 'my_zan' in  request.META.HTTP_REFERER %}
/service/my_zan
{% else %}
/kind/{{service.kind_id}}
{% endif %}
{% endblock %}
{% block container %}
<div class="row ml-0 mr-0">
    <div class="col-xs-12 pl-0 pr-0 pr">
        <div id="carousel-service" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for cover in service.get_covers %}
                <li data-target="#carousel-service" data-slide-to="{{forloop.counter}}" {% if forloop.first %} class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for cover in service.get_covers %}
                <div class="item {% if forloop.first %}active{% endif %}">
                    <img class="slide-img" src="{{cover}}">
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-service" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="right carousel-control" href="#carousel-service" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <!-- <img class="slide-img" src="{{MEDIA_URL}}img/service/detail-1.jpg"> -->
    </div>
    <div class="col-xs-12 pl-0 pr-0 pt-20">
        <div class="col-xs-9">
            <div class="col-xs-12 f17 pl-10 pr-0">{{service.name}}</div>
            
            <div class="col-xs-12 pl-10 pr-0 pt-5">
                <!-- <span class="co-ea232a f15">200元<span class="co-ea232a f12"> / 位</span></span> -->
                <span class="co-95989d f12">已被预约：{{service.order_count}}次</span>
            </div>
            
        </div>
        <div class="col-xs-3 pr h50">
            <span class="heart-bg text-center {% if is_zan %}active{% endif %}">
                <span class="fa fa-heart-o"></span>
                <span class="fa fa-heart"></span>
                <span class="pt-5 f12 pt-10 display-inline co-f07925 w30" id="heart-count">0</span>
            </span>
        </div>
    </div>
    <div class="col-xs-12 f12 pl-20 pr-20 co-dddddd pt-15 hide">
        <div class="col-xs-12 pl-5 pr-5 border-bottom-1 bdc-eeeeee pb-5">
            入驻时间：{{service.join_time|date:'Y-m-d'}}
        </div>
    </div>
    <div class="col-xs-12 pl-20 pr-20 pt-20 pb-10">
        <div class="col-xs-4 col-xs-offset-2 text-center pr-0 pl-0">
            <span class="tab active">产品</span>
        </div>
        <div class="col-xs-4 text-center pr-0 pl-0">
            <span class="tab">简介</span>
        </div>
        <ul class="list-group col-xs-12 pr-0 pt-15 pb-50 tab-content active">
            {% for product in products %}
            <a href="{{product.get_url}}" class="list-group-item col-xs-12 pl-0 pr-0">
                <div class="col-xs-9 pr-0 pl-20 pr">
                    <i class="fa fa-bookmark-o"></i>
                    <div class="col-xs-12 co-95989d f14 pr-0 pl-0">{{product.name}}</div>
                    <div class="col-xs-12 co-f07925 f12 pr-0 pl-0 pt-5"><i class="fa fa-rmb pr-3"></i>{{product.price}} 元</div>
                </div>
                <div class="col-xs-3 pl-0 pr-0 f12 pt-8 text-right">
                    <span class="buy">详情</span>
                </div>
            </a>
            {% endfor %}
        </ul>

        <div class="col-xs-12 tab-content pl-0 pr-0 f13">
            {% if recommend_user_info %}
            <div class="col-xs-12 pl-0 pr-0">特别推荐:</div>
            <div class="col-xs-12 pl-50 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <img class="avatar" src="{{recommend_user_info.avatar}}">
                <div class="col-xs-12 f14 co-f07925 pr-0">{{recommend_user_info.name}}
                {{recommend_user_info.company_name}}{{recommend_user_info.title}}</div>
                <div class="col-xs-12 f12 co-95989d pr-0 pt-5">{{service.recommend_des}}</div>
            </div>
            {% endif %}
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-map-marker flag" style="left: 8px;"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">{{service.addr}}</div>
            </div>
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-phone flag" style="left: 6px;"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">
                    <a href="tel:{{service.get_tel}}">{{service.get_tel}}</a>
                </div>
            </div>
            <div class="col-xs-12 pl-25 pr-0 pt-10 border-bottom-1 bdc-eeeeee pb-10 pr">
                <i class="fa fa-truck flag"></i>
                <div class="col-xs-12 f15 co-6f7075 pr-0 pt-5">{{service.service_area}}</div>
            </div>
            <div class="col-xs-12 pt-15 pl-0 pr-0">
                <div class="col-xs-12 f15 pl-0 pr-0">简介:</div>
                <div class="col-xs-12 f12 co-95989d pr-0 pl-0 pt-10 pb-50" style="letter-spacing: 0.5px;line-height: 19px; text-indent: 25px;">
                    {{service.get_format_des|safe}}
                </div>
            </div>
        </div>
        <div class="booking-bg">
            <a class="btn-booking booking">在线预约</a>
            <a class="ml-15 btn-booking" href="tel:{{service.get_tel}}">电话咨询</a>
        </div>
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}