{% extends "mobile/base.html" %}
{% block base_css %}
<style type="text/css">
	.nav-bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 12px;
        z-index: 999;
    }
    .nav{
        padding-left: 15px;
        padding-right: 15px;
    }
    .nav>a{
        color: #c9d7dd;
    }
    .nav.active>a{
        color: #f07925;
    }
    .nav-img{
        display: inline-block;
    }
    .nav-img-active{
        display: none;
    }
    .nav.active .nav-img{
        display: none;
    }
    .nav.active .nav-img-active{
        display: inline-block;
    }

    .back{
        background-color: rgba(0, 0, 0, 0.5);
        /*opacity: 0.7;*/
        width: 40px;
        height: 40px;
        position: absolute;
        left: 15px;
        top: 15px;
        text-align: center;
        z-index: 9999;
        border-radius: 50%;
        color: #fff;
        font-size: 25px;
        padding-top: 6px;
    }
</style>
{% block css %}{% endblock %}
{% endblock %}

{% block base_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('.back').on('click', function(){
            window.history.go(-1);
        });
    });
</script>
{% block js %}{% endblock %}
{% endblock %}

{% block base_container %}

{% block back %}
<span class="back">
    <i class="fa fa-angle-left"></i>
</span>
{% endblock %}

{% block container %}{% endblock %}

{% block nav %}
<div class="col-xs-12 h67"></div>
<div class="nav-bottom bgc-ffffff">
    <div class="row ml-0 mr-0">
        <div class="col-xs-4 nav {% if request.path == "/" %}active{% endif %}">
            <a href="/">
                <div class="col-xs-12 pr-0 pl-0">
                    <img class="w20 nav-img" src="{{MEDIA_URL}}img/nav_1.png">
                    <img class="w20 nav-img-active" src="{{MEDIA_URL}}img/nav_1_active.png">
                </div>
                <div class="col-xs-12 pr-0 pl-0 pt-5">即刻服务</div>
            </a>
        </div>
        <div class="col-xs-4 nav">
            <a href="#">
                <div class="col-xs-12 pr-0 pl-0 pt-2">
                    <img class="w25 nav-img" src="{{MEDIA_URL}}img/nav_2.png">
                    <img class="w25 nav-img-active" src="{{MEDIA_URL}}img/nav_2_active.png">
                </div>
                <div class="col-xs-12 pr-0 pl-0 pt-5">关于小橙</div>
            </a>
        </div>
        <div class="col-xs-4 nav {% if request.path == "/account/profile" %}active{% endif %}">
            <a href="/account/profile">
                <div class="col-xs-12 pr-0 pl-0">
                    <img class="w20 nav-img" src="{{MEDIA_URL}}img/nav_3.png">
                    <img class="w20 nav-img-active" src="{{MEDIA_URL}}img/nav_3_active.png">
                </div>
                <div class="col-xs-12 pr-0 pl-0 pt-5">个人信息</div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}