{% extends "pc/base/base.html" %}

{% block title_all %}小橙企服{% endblock %}
{% block base_css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index_pc.css">
{% endblock %}

{% block js %}
{% endblock %}

{% block base_container %}
<div class="container-fluid">
    <span class="point"></span>

    <div class="yellow">
        <img class="flag-yellow" src="{{MEDIA_URL}}img/index/flag_yellow.png">
    </div>
    <div class="red">
        <img class="flag-red" src="{{MEDIA_URL}}img/index/flag_red.png">
    </div>
    <div class="blue">
        <img class="flag-blue" src="{{MEDIA_URL}}img/index/flag_blue.png">
        <!-- 描述 -->
        <div class="des">
            <div class="line"></div>
            <div class="des-text-1">让行政省心的企业服务平台</div>
            <div class="des-text-2">餐饮福利 员工活动</div>
            <div class="des-text-2">宣传物料 日常办公</div>
            <div class="des-text-2">公司代办 装修设计</div>
            <div>
                <img class="qrcode" src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQHX7zoAAAAAAAAAASxodHRwOi8vd2VpeGluLnFxLmNvbS9xL29EaFNEenptLXVfSGMycmJmaEJWAAIETUucVwMEAAAAAA==">
            </div>
            <div class="weixin-text">微信扫码关注，立即使用</div>
        </div>
    </div>

    <!-- logo -->
    <div class="logo-wrap">
        <img class="logo" src="{{MEDIA_URL}}img/logo.png">
        <div class="text">
            <img class="t1" src="{{MEDIA_URL}}img/index/t1.png">
            <img class="t2" src="{{MEDIA_URL}}img/index/t2.png">
            <img class="t3" src="{{MEDIA_URL}}img/index/t3.png">
            <img class="t4" src="{{MEDIA_URL}}img/index/t4.png">
        </div>
        <div class="slogan-wrap">
            <img class="slogan" src="{{MEDIA_URL}}img/slogan.png">
        </div>
    </div>
    
</div>
<div class="copy-right">
    <a style="color: #ffeecb" href="http://www.miitbeian.gov.cn" target="_blank">蜀ICP备15019356号-2</a>
    &nbsp;&nbsp;
    Copyright &copy; {% if YEAR == "2016" %}{{YEAR}}{% else %}2016 - {{YEAR}}{% endif %} 大橙科技. All Rights Reserved.
</div>
{% endblock %}

