{% extends "pc/base/base_home.html" %}

{% block title_all %}小橙企服{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/index.css?v={{MEDIA_VERSION}}">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/contact-us.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.textillate.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery/jquery.lettering.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/contact-us.js?v={{MEDIA_VERSION}}"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/site/index.js?v={{MEDIA_VERSION}}"></script>
{% endblock %}

{% block base_container %}
<div>一站搞定行政事务，尽在小橙企服<p>餐饮福利 员工活动 宣传物料 日常办公 公司代办 其他</p></div>
{% endblock %}

