body{
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
}

a:focus {outline: none; -moz-outline: none;}

.fb{font-weight: bold;}
.fi{font-style: italic;}

.letter-spacing-1{letter-spacing: 1px;}

.w20{width: 20px;}
.w22{width: 22px;}
.w25{width: 25px;}
.w27{width: 27px;}
.w30{width: 30px;}
.w50{width: 50px;}
.w60{width: 60px;}
.w100p{width: 100%;}
.h67{height: 67px;}
.h50{height: 50px;}
.h80{height: 80px;}

.f12{font-size: 12px;}
.f13{font-size: 13px;}
.f14{font-size: 14px;}
.f15{font-size: 15px;}
.f16{font-size: 16px;}
.f17{font-size: 17px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}

.co-ffffff{color: #ffffff;}
.co-b6b6b6{color: #b6b6b6;}
.co-dddddd{color: #dddddd;}
.co-ea232a{color: #ea232a;}/*红色*/
.co-95989d{color: #95989d;}/*灰色*/
.co-f07925{color: #f07925;}/*橙色*/
.co-20ba48{color: #20ba48;}/*绿色*/
.co-d9bca6{color: #d9bca6;}
.co-48494b{color: #48494b;}/*灰色*/

.bgc-ffffff{background-color: #ffffff;}
.bgc-f07925{background-color: #f07925;}

.border-bottom-1{border-bottom: 1px solid;} 
.bdc-eeeeee{border-color: #eeeeee;}

.pr{position: relative;}
.pa{position: absolute;}
.pf{position: fixed;}

.over-flow-hide{overflow: hidden;}

.visible-hide{visibility: hidden;}

.display-inline{display: inline-block;}

.pl-0{padding-left: 0;}
.pl-3{padding-left: 3px;}
.pl-5{padding-left: 5px;}
.pl-10{padding-left: 10px;}
.pl-15{padding-left: 15px;}
.pl-20{padding-left: 20px;}
.pl-25{padding-left: 25px;}
.pl-30{padding-left: 30px;}
.pl-35{padding-left: 35px;}
.pl-50{padding-left: 50px;}
.pl-70{padding-left: 70px;}
.pl-80{padding-left: 80px;}
.pl-105{padding-left: 105px;}
.pr-0{padding-right: 0;}
.pr-3{padding-right: 3px;}
.pr-5{padding-right: 5px;}
.pr-10{padding-right: 10px;}
.pr-20{padding-right: 20px;}
.pr-30{padding-right: 30px;}
.pr-35{padding-right: 35px;}
.pt-2{padding-top: 2px;}
.pt-3{padding-top: 3px;}
.pt-5{padding-top: 5px;}
.pt-8{padding-top: 8px;}
.pt-10{padding-top: 10px;}
.pt-15{padding-top: 15px;}
.pt-16{padding-top: 16px;}
.pt-20{padding-top: 20px;}
.pt-25{padding-top: 25px;}
.pt-30{padding-top: 30px;}
.pt-35{padding-top: 35px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pt-110{padding-top: 110px;}
.pb-3{padding-bottom: 3px;}
.pb-5{padding-bottom: 5px;}
.pb-10{padding-bottom: 10px;}
.pb-15{padding-bottom: 15px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-50{padding-bottom: 50px;}
.pb-80{padding-bottom: 80px;}
.pb-90{padding-bottom: 90px;}

.ml-0{margin-left: 0;}
.mr-0{margin-right: 0;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}

.br-3{border-radius: 3px;}

.z-99{z-index: 99;}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus{
    outline: 0;
}

.error{
    color: #ff3c3c;
    font-size: 12px;
}
