{% extends "mobile/base_home.html" %}
{% block title %}我的预约{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<style type="text/css">
    body{
        background-color: #fbfaff;
    }
    .list-group{
        border: 1px solid #ebebeb;
        border-radius: 4px;
        position: relative;
        padding-top: 90px;
        background-color: #fff;
    }
    .list-group-item{
        /*box-shadow: #ffe5cf 0px 0px 11px;*/
        border: 0;
        border-top: 1px solid #ebebeb;
        margin-bottom: 0;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .list-group-item:last-child{

        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
    }
    .list-group-item:first-child{
        border-top: 0;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }
    .avatar{
        width: 62px;
        height: 62px;
        border-radius: 50%;
        position: absolute;
        left: 10px;
        top: 10px;
    }
    .bg-curtain{
        background-color: #fdd464;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        position: absolute;
        left: -68px;
        top: -18px;
    }
    .service{
        padding-left: 70px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        position: absolute;
        left: -2%;
        width: 104%;
        top: -1px;
        background-color: #ffffff;
        overflow: hidden;
        box-shadow: 0px 5px 18px 1px #e1e1e1;
        border-radius: 2px;
    }
    .tag{
        border-radius: 15px;
        padding: 3px 7px;
        color: #f07925;
        border: 1px solid #f07925;
        font-size: 12px;
        margin-right: 3px;
        display: inline-block;
        /*-webkit-transform: scale(0.8);*/
                /*transform: scale(0.8);*/
    }
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block back_url %}/account/profile{% endblock %}

{% block container %}
<div class="row ml-0 mr-0 pt-20">
    <div class="col-xs-12 pl-20 pr-20">
        <ul class="list-group col-xs-12 pl-15 pr-15">
            <li class="list-group-item col-xs-12 pr-0 pl-0">
                <div class="col-xs-12 pl-0 pr-0 f15">
                    <div class="col-xs-10 pl-0 pr-0">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="pl-10">铜版纸覆膜彩色名片200张</span>
                    </div>
                    <div class="col-xs-2 text-right pl-0 pr-0 pt-2 co-f07925 f13">已下单</div>
                </div>
            </li>
            <li class="list-group-item col-xs-12 pr-0 pl-0">
                <div class="col-xs-12 pl-0 pr-0 f15">
                    <div class="col-xs-10 pl-0 pr-0">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="pl-10">铜版纸覆膜彩色名片200张</span>
                    </div>
                    <div class="col-xs-2 text-right pl-0 pr-0 pt-2 co-f07925 f13">已下单</div>
                </div>
            </li>

            <div class="col-xs-12 service">
                <span class="bg-curtain"></span>
                <img class="avatar" src="{{MEDIA_URL}}img/service/avatar-1.jpg">
                <div class="col-xs-12 f17 pr-5 pt-10">三点十分</div>
                <div class="col-xs-12 f12 co-b6b6b6 pt-3 pr-5 pb-15">
                    <span class="tag">福利设计</span>
                    <span class="tag">下午茶</span>
                </div>
            </div>
        </ul>

        <ul class="list-group col-xs-12 pl-15 pr-15">
            <li class="list-group-item col-xs-12 pr-0 pl-0">
                <div class="col-xs-12 pl-0 pr-0 f15">
                    <div class="col-xs-10 pl-0 pr-0">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="pl-10">铜版纸覆膜彩色名片200张</span>
                    </div>
                    <div class="col-xs-2 text-right pl-0 pr-0 pt-2 co-f07925 f13">已下单</div>
                </div>
            </li>
            <li class="list-group-item col-xs-12 pr-0 pl-0">
                <div class="col-xs-12 pl-0 pr-0 f15">
                    <div class="col-xs-10 pl-0 pr-0">
                        <i class="fa fa-bookmark-o"></i>
                        <span class="pl-10">铜版纸覆膜彩色名片200张</span>
                    </div>
                    <div class="col-xs-2 text-right pl-0 pr-0 pt-2 co-f07925 f13">已下单</div>
                </div>
            </li>

            <div class="col-xs-12 service">
                <span class="bg-curtain"></span>
                <img class="avatar" src="{{MEDIA_URL}}img/service/avatar-1.jpg">
                <div class="col-xs-12 f17 pr-5 pt-10">三点十分</div>
                <div class="col-xs-12 f12 co-b6b6b6 pt-3 pr-5 pb-15">
                    <span class="tag">福利设计</span>
                    <span class="tag">下午茶</span>
                </div>
            </div>
        </ul>
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}