{% extends "mobile/base_home.html" %}
{% block title %}邀你体验{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/account/recommend.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block back %}{% endblock %}

{% block container %}
<div class="row ml-0 mr-0 pt-20 pr">
    <div class="bg">
        <img class="w100p" src="{{MEDIA_URL}}img/profile/bg-recommend.png">
    </div>

    <div class="col-xs-10 col-xs-offset-1 pr pt-5">
        <img class="logo" src="{{MEDIA_URL}}/img/profile/logo.png">
        <span class="fb f20 pl-10">小橙企服</span>
        <img class="slogan" src="{{MEDIA_URL}}/img/profile/slogan.png">
    </div>
    <div class="col-xs-10 col-xs-offset-1 pt-20 pb-30 pl-0 pr-0">
        <div class="col-xs-12 card">
            <div class="col-xs-12 pt-15">
                <img class="avatar" src="{{qrcode.user.get_avatar_65}}">
            </div>
            <div class="col-xs-12 pt-10">
                你的老朋友「{{qrcode.user.nick}}」热情的邀你加入
            </div>
            <div class="col-xs-12 pt-10">
                <img class="qrcode" src="{{qrcode.get_img}}">
            </div>
            <div class="col-xs-10 col-xs-offset-1 pt-20 pb-30">
                <button type="submit" class="btn btn-default btn-block btn-recommend">长按上方二维码识别</button>
            </div>
            <div class="col-xs-12 friends">
                <span class="circle-left"></span>
                <span class="circle-right"></span>
                <div class="col-xs-12 pl-0 pr-0 f13">
                    <div>推荐你扫我的专属二维码关注，</div>
                    <div class="pt-3">一站搞定行政事务，尽在小橙企服</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block nav %}{% endblock %}