{% extends "mobile/base_home.html" %}
{% block title %}认证信息{% endblock title %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/animate/animate.min.css">
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}css/site/account/verify.css?v={{MEDIA_VERSION}}">
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function(){

    });
</script>
{% endblock %}

{% block back_url %}/account/profile{% endblock %}

{% block container %}
<div class="row ml-0 mr-0 pt-20">
    <div class="col-xs-12 text-center pt-15">
        <span class="avatar">
            <img class="avatar-img" src="{{request.user.get_avatar_300}}">
            <span class="camera-bg">
                <i class="fa fa-camera"></i>
            </span>
        </span>
    </div>
    <div class="col-xs-12 text-center pt-5">
        <span class="co-95989d f12">完善认证信息方便小橙联系你哦</span>

        <!-- <span class="co-95989d f12">认证信息审核中...</span> -->

        <!-- <span class="co-95989d f12"><i class="fa fa-check-square pr-5"></i>认证用户</span> -->

    </div>
    <ul class="list-group col-xs-10 col-xs-offset-1 pl-15 pr-15 pt-30">
        <li class="list-group-item col-xs-12 pl-0 pr-0">
            <div class="col-xs-12 pl-15 pr-0 co-95989d f12">姓名</div>
            <div class="col-xs-12 pl-10 pr-0">
                <input type="text" name="name" class="text-input" value="隔壁老王">
            </div>
            <img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-5.png">
        </li>
        <li class="list-group-item col-xs-12 pl-0 pr-0">
            <div class="col-xs-12 pl-15 pr-0 co-95989d f12">手机号码</div>
            <div class="col-xs-12 pl-10 pr-0">
                <input type="text" name="name" class="text-input" value="13888888888">
            </div>
            <img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-6.png">
        </li>
        <li class="list-group-item col-xs-12 pl-0 pr-0">
            <div class="col-xs-12 pl-15 pr-0 co-95989d f12">公司职位</div>
            <div class="col-xs-12 pl-10 pr-0">
                <input type="text" name="name" class="text-input" value="行政主管">
            </div>
            <img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-7.png">
        </li>
        <li class="list-group-item col-xs-12 pl-0 pr-0">
            <div class="col-xs-12 pl-15 pr-0 co-95989d f12">公司名称</div>
            <div class="col-xs-12 pl-10 pr-0">
                <input type="text" name="name" class="text-input" value="成都大橙科技有限公司">
            </div>
            <img class="profile-icon" src="{{MEDIA_URL}}img/profile/profile-icon-8.png">
        </li>
        <li class="list-group-item col-xs-10 col-xs-offset-1 pl-0 pr-0 pt-35">
            <button type="submit" class="btn btn-default btn-block btn-verify">提交审核</button>

            <!-- <button type="submit" class="btn btn-default btn-block btn-modify"><i class="fa fa-pencil-square-o pr-10"></i>修改信息</button> -->
        </li>
    </ul>
</div>
{% endblock %}

{% block nav %}{% endblock %}