body{
    background-color: #ef7b34;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    width: 20px;
    position: absolute;
    left: 0;
    top: 3px;
}
.slogan{
    width: 65px;
    position: absolute;
    left: 116px;
    top: 15px;
}
.card{
    padding: 0;
    padding-top: 20px;
    text-align: center;
    border-radius: 4px;
    box-shadow: -3px -4px 8px rgba(255, 221, 199, 0.3);
    background-color: #fff;
}
.avatar{
    width: 80px;
    border-radius: 50%;
}
.qrcode{
    width: 150px;
}
.btn-recommend{
    border-radius: 20px;
    background-color: #f07925;
    color: #fff;
    border-color: #f07925;
    box-shadow: #FFAE73 0px 3px 10px;
    outline: 0;
}
.btn-recommend:focus, .btn-recommend:active, .btn-recommend:hover{
    outline: 0;
    background-color: #d4681b;
    border-color: #d4681b;
    color: #fff;
}

.list-group-item{
    border: 0;
    border-bottom: 1px solid #d9bca6;
    background-color: #ffede1;
    position: relative;
    margin-bottom: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.friend-txt{
    color: #d9bca6;
    border-bottom: 1px solid #d9bca6;
    padding-bottom: 5px;
}
.friends{
    background-color: #ffede1;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: #f07925 2px dashed;
    position: relative;
}
.friend-avatar{
    position: absolute;
    left: 0;
    top: 12px;
    width: 35px;
    border-radius: 50%;
}
.circle-left{
    position: absolute;
    left: -6px;
    top: -6px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ef7b34;
}
.circle-right{
    position: absolute;
    right: -5px;
    top: -6px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ef7b34;
}
.cover{
    display: none;
    text-align: right;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
}
.share{
    width: 250px;
}
.leaf-1{
    position: absolute;
    right: 76px;
    top: 70px;
    width: 15px;
    -webkit-animation: leaf 3s both ease-out infinite;
            animation: leaf 3s both ease-out infinite;
    opacity: 0;
}
.leaf-2{
    position: absolute;
    right: 56px;
    top: 78px;
    width: 15px;
    -webkit-animation: leaf 3s 0.3s both ease-out infinite;
            animation: leaf 3s 0.3s both ease-out infinite;
    opacity: 0;
}
.leaf-3{
    position: absolute;
    right: 44px;
    top: 58px;
    width: 15px;
    -webkit-animation: leaf 3s 0.7s both ease-out infinite;
            animation: leaf 3s 0.7s both ease-out infinite;
    opacity: 0;
}
.leaf-4{
    position: absolute;
    right: 58px;
    top: 66px;
    width: 15px;
    -webkit-animation: leaf 3s 0.9s both ease-in infinite;
            animation: leaf 3s 0.9s both ease-in infinite;
    opacity: 0;
}
.leaf-5{
    position: absolute;
    right: 49px;
    top: 76px;
    width: 15px;
    -webkit-animation: leaf 3s 0.1.3s both ease-in infinite;
            animation: leaf 3s 0.1.3s both ease-in infinite;
    opacity: 0;
}
.leaf-6{
    position: absolute;
    right: 79px;
    top: 66px;
    width: 15px;
    -webkit-animation: leaf 3s 1.7s both ease-out infinite;
            animation: leaf 3s 1.7s both ease-out infinite;
    opacity: 0;
}
.leaf-7{
    position: absolute;
    right: 73px;
    top: 49px;
    width: 15px;
    -webkit-animation: leaf 3s 2.2s both ease-out infinite;
            animation: leaf 3s 2.2s both ease-out infinite;
    opacity: 0;
}
.leaf-8{
    position: absolute;
    right: 73px;
    top: 49px;
    width: 15px;
    -webkit-animation: leaf 3s 2.6s both ease-out infinite;
            animation: leaf 3s 2.6s both ease-out infinite;
    opacity: 0;
}
@-webkit-keyframes leaf {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px) rotateZ(0deg);
                transform: translateX(0px) translateY(0px) rotateZ(0deg);
    }
    20% {
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        -webkit-transform: translateX(-120px) translateY(120px) rotateZ(300deg);
                transform: translateX(-120px) translateY(120px) rotateZ(300deg);
    }
}
@keyframes leaf {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0px) translateY(0px) rotateZ(0deg);
                transform: translateX(0px) translateY(0px) rotateZ(0deg);
    }
    20% {
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        -webkit-transform: translateX(-120px) translateY(120px) rotateZ(300deg);
                transform: translateX(-120px) translateY(120px) rotateZ(300deg);
    }
}